body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

.main-container,
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.link {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.link:hover {
    color: #fdfdfd;
    background-color: #0056b3;
}